<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h2>Update People</h2>
<form th:action="@{/update/{id}(id=${people.id})}" th:object="${people}" method="post">

    <table>
        <tr>
            <th><label for="name">Name:</label></th>
            <td><input type="text" id="name" th:field="*{name}" /></td>
        </tr>
        <tr>
            <th><label>Gender:</label></th>
            <td><select th:field="*{gender}">
                <option th:each="gender : ${listGender}" th:value="${gender.id}"
                        th:text="${gender.name}"></option>
            </select></td>
        </tr>
        <tr>
            <th><label for="phone">Phone:</label></th>
            <td><input type="text" id="phone" th:field="*{phone}" /></td>
        </tr>
        <tr>
            <th><label for="email">Email:</label></th>
            <td><input type="email" id="email" th:field="*{email}" /></td>
        </tr>
        <tr>
            <th><label>Type:</label></th>
            <td><select th:field="*{type}">
                <option th:each="type : ${listType}" th:value="${type.id}"
                        th:text="${type.name}"></option>
            </select></td>
        </tr>

        <tr>
            <th></th>
            <td> <button type="submit">Update</button></td>
        </tr>
    </table>
</form>
</body>
</html>